:root {
  /* Global variables to be defined here */
  /* --color-white: #ffffff; */
  --color-light-blue: rgba(42, 167, 255, 1);
  --color-dark-blue: rgba(27, 60, 116, 1);
  --color-light-gray: rgba(119, 130, 157, 1);
  --font-primary: Poppins;
  --font-Inter: Inter;
  --font-Roboto: Roboto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background: linear-gradient(81deg, #d0e1ff 9.01%, rgba(232, 241, 255, 0.47) 89.11%) no-repeat;
  font-family: var(--font-primary)
}